body{
    background-color: rgb(36, 36, 36);
}

/* ------------------------------------------------------------------------classes------------ */

.main-form{
    height: 80vh;
    margin: 3rem;
    border-radius: 3rem;
    background-color: brown;
}

.vert-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hori-flex{
    display: flex;
    justify-content: center;
}

.file-submit{
    width: 50%;
}

.submit-button-container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.submit{
    width: 20%;
    display: flex;
    justify-content: center;
}

.submit > * {
    border: 0px;
    margin: 1rem;
    background-color: rgb(36, 36, 36);
}